{% assign author_id = include.author_id | default: page.author | default: site.default_author %}
{% assign author = site.data.authors[author_id] | default: site.author %}
{% assign author_name = author.name | default: author.full_name %}
{% assign author_full_name = author.full_name | default: author.name %}
{% assign author_url = author.url | default: "/authors/milskiy-andrey/" %}

<section class="author-block">
  <div class="container author-block__inner">
    <a class="author-block__photo-link" href="{{ author_url | relative_url }}" aria-label="Страница автора {{ author_full_name | escape }}">
      <img class="author-block__photo" src="{{ author.image | relative_url }}" alt="{{ author_name | escape }}">
    </a>
    <div class="author-block__text">
      <p class="author-block__name">
        <a href="{{ author_url | relative_url }}">{{ author_name }}</a>
      </p>
      <p>
        {% if author.title %}{{ author.title }}{% endif %}{% if author.award %}{% if author.title %}, {% endif %}{{ author.award }}{% endif %}
      </p>
    </div>
  </div>
</section>
